<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Z.GenerateIconProject.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Z.GenerateIconProject.WinForm.Properties.Settings>
      <setting name="WorkingDirectoryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SyncSourceDirectoryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SyncWithDirectoryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="GenerateIcon16Path" serializeAs="String">
        <value />
      </setting>
      <setting name="GenerateIcon32Path" serializeAs="String">
        <value />
      </setting>
      <setting name="GenerateHandlerPath" serializeAs="String">
        <value>z.axd</value>
      </setting>
      <setting name="GenerateNamespace" serializeAs="String">
        <value>Z.IconLibrary</value>
      </setting>
      <setting name="GenerateCssFileName" serializeAs="String">
        <value>z-icon.css</value>
      </setting>
      <setting name="GenerateIsCssImportant" serializeAs="String">
        <value>True</value>
      </setting>
    </Z.GenerateIconProject.WinForm.Properties.Settings>
  </userSettings>
</configuration>